$bordercolor:#dedede;
*{
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    border: 0px;
}
.time{
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    .time-head{
        width: 100%;
        text-align: center;
        .year,.munth{
            display: inline-block;
            font-size: 18px;
            padding: 5px;
        }
    }
    .time-all-block,.time-all-head{
        width: calc(100% - 2px);
        font-size: 0px;
        border-left: 1px solid $bordercolor;
        border-right: 1px solid $bordercolor;
        border-bottom: 1px solid $bordercolor;
        .time-small-block{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            font-size: 12px;
            line-height: 30px;
            cursor: pointer;
            .text-day{
                display: inline-block;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 12px;
            }
            .is-below{
                display: block;
                left: auto;
                top: auto;
                transform: translate(0, 0);
                text-align: center;
                line-height: 13px;
            }
            .below-text{
                color: blue;
                text-align: center;
                font-size: 12px;
            }
        }
        .time-in-block{
            width: percentage(1/7);
            padding-top: percentage(1/7);
            background: white;
            display: inline-block;
            position: relative;
            // border-bottom: 1px solid grey;
            border-top: 1px solid $bordercolor;
            &:nth-child(7n+7){
               .in-right,.in-left{
                   border: none;
               }
            }
            .in-right,.in-left{
                width: 1px;
                height: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
                border-right: 1px solid $bordercolor;
                
            }
        }
        .time-in-color{
            background: #FFC107;
        }
        .noborder-top{
            border-top: none;
        }
    }
    .time-all-head{
        width: 100%;
        background: #f7f7f7;
        border: none;
        .in-block{
            width: percentage(1/7);
            display: inline-block;
            font-size: 14px;
            text-align: center;
            padding: 18px 0px;
        }
        .next,.pre{
            width: 30px;
            padding-top: 30px;
            background: grey;
            display: inline-block;
            position: absolute;
            left: 0px;
            top: 0px;
            border-radius: 100%;
        }
        .next{
            left: auto;
            right: 0px;
        }
    }
}
@media screen and (max-width: 500px){
    .time{
        width: 90%;
        .time-all-head {
            .in-block {
                padding: 8px 0px;
            }
            .next,.pre{
                width: 25px;
                padding-top:25px; 
            }
        }
        .time-all-block {
            .time-small-block{
                .below-text{
                   white-space: nowrap;
                   overflow: hidden;
                }
            } 
        }
    }
}