<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" href="./index.bundle.css"/>-->
</head>
<body>
    <div id="app">
       <!--<div class="time">
           <div class="time-head">
               <div class="year">{{showYear}}年</div>
               <div class="munth">{{showMouth}}月</div>
           </div>
           <div class="time-all-head">
               <div class="in-block" v-for="(item,i) in 7">
                    {{days[i]}}
               </div>
               <div class="next" @click="next"></div>
               <div class="pre" @click="pre"></div>
           </div>
           <div class="time-all-block">
               <div class="time-in-head" v-for="item in 7"></div>
               <div class="time-in-block" v-for="(item, i) in smallDate" @click="showdate(item)" :class="{'noborder-top':i<7}">
                   <div class="time-small-block">
                         {{item}}
                   </div>
                   <div class="in-right"></div>
               </div>
           </div>
       </div>-->
       <timecompont></timecompont>
       <!--<apps></apps>-->
    </div>
    <!--<a href="./second.html">sss</a>
    <br/>-->
    <!--<img imgsrc="./../imgs/s.jpg" alt="" id="b" s="no">-->
</body>
<script src="./../script/index.js"></script>
</html>
